<div class="list row">
    <div class="col-md-6 mb-3 mt-5">
        <h4>Countries List</h4>
        <ul class="list-group" *ngFor="let country of countries; let i = index">
            <li class="list-group-item"
                *ngIf="country.code === 'IE' || country.code === 'GB' || country.code === 'ES' || country.code === 'DE' || country.code === 'IT' "
                [class.active]="i == currentIndex" (click)="setActiveCountry(country, i)">
                {{ country.country}}: {{country.code | lowercase}}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <app-country-details [viewMode]="true" [currentCountry]="currentCountry"></app-country-details>
    </div>
</div>